div#wrapper {
    background-color: lightgray;
    padding: 20px;
}

input[type="text"] {
    border: 2px solid blue;
    padding: 5px;
}

.highlighted {
    color:blue;
    font-size: 30px;
}

#special-content {
    background-color: orange;
}