img{
    width: 100%;
}
.card-container{
    width: 30%;
    border: 1px solid black;
    display: inline-block;
    border-radius: 10px;
}
.text-container{
    padding: 10px;
}
.big-text{
    font-weight: bold;
    font-size: 20px;
}