@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap');

body {
    font-family: "Momo Signature", cursive;
    font-weight: 400;
    font-style: normal;
}

a {
    color:blue;
}
