h1{
    color: red;
}

li{
    color: rgb(28, 159, 28)
}

.girls {
    color: pink;
}

#special-girl {
    color:aquamarine;
}

li#special-girl {
    color: orange;
}

p{
    color: purple;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
}

section p{
    color: brown;
}