main {
    border:1px solid green;
    padding: 15px 40px;
}
section{
    border: 1px, solid blue;
    padding: 15px;
}
article {
    border: 1px, solid red;
    padding: 10px;
    margin: 10px;
    text-align: center;
}